# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pywork\level1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
